<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleName</key><string>Undertrained Indoor</string>
  <key>CFBundleDisplayName</key><string>Undertrained Indoor</string>
  <key>CFBundleIdentifier</key><string>app.undertrained.indoor</string>
  <key>CFBundleExecutable</key><string>undertrained-indoor</string>
  <key>CFBundleIconFile</key><string>AppIcon</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>NSBluetoothAlwaysUsageDescription</key><string>Connect your home trainer and heart-rate sensor for indoor cycling.</string>
  <key>NSHighResolutionCapable</key><true/>
</dict></plist>
